<h1>Welcome to track.io</h1>
<p>Track your networth and cashflow in real-time.</p>

<h2><%= link_to 'Transactions', transactions_path %></h2>

<h2><%= link_to 'Dashboard', transactions_dashboard_path %></h2>
